.header {
  height: 100vh;
  width: 100vw;
  background: #323395;
  background: linear-gradient(283deg, #323395 0%, #272870 100%);
  /* overflow: hidden; */
  padding: 10px 0;
  position: relative;
}

.header-holder {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: linear-gradient(283deg, rgba(50, 51, 149, 1) 0%, rgba(39, 40, 112, 1) 100%);
  border: transparent;
}

.hub-header {
  padding-top: 0;
}

header {
  padding: 20px 0;
  width: 100%;
}

.logo {
  text-decoration: none;
}

.logo img {
  width: 40px;
}

.brand-name {
  text-decoration: none;
  margin-left: 10px;
  color: white;
  font-size: 28px;
  font-weight: 500;
}

.sm-s-nav {
  display: none;
}

.sm-menu {
  display: none;
}

.menu {
  display: none;
}

.nav-item {
  text-decoration: none;
  color: #b8b8ff;
  font-size: 14px;
  font-weight: 400;
  margin-left: 40px;
  transition: all 0.3s ease-in-out;
}

.nav-item:hover {
  color: #3cbbb1;
}

/* .active {
  font-weight: 500;
  color: #3cbbb1;
  border-bottom: 2px solid #3cbbb1;
} */

/* hero section of the header styles */

.hero .row {
  height: 100vh;
}

.welcome_paritie {
  color: #e2e2ff;
  font-weight: normal;
  margin-bottom: 30px;
}

.value_prop {
  color: #d6d7ff;
  line-height: 38px;
  margin-bottom: 40px;
  font-weight: 500;
  position: relative;
  z-index: 1;
}

.main_point {
  color: white;
  text-decoration: underline;
  text-decoration-color: #3cbbb1;
}

.start_project {
  color: rgb(228, 228, 255);
  font-size: 14px;
  margin-right: 30px;
}

.lets_talk {
  color: #ebfffd;
  font-size: 18px;
  text-decoration: none;
  padding: 7px 40px;
  background: #3cbbb1;
  border-radius: 3px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
  margin-left: 20px;
  position: relative;
  z-index: 1;
  transition: all .3s ease-in-out;
}

.green-cta {
  background: #3cbbb1;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
  transition: all .3s ease-in-out;
}

.green-cta:hover {
  background: #00ac9d;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
}

.hero-img {
  position: absolute;
  width: 350px;
  height: 480px;
  top: 25vh;
  right: 0;
  border-radius: 5px;
  background: rgba(200, 200, 255, .1);
  transition: all .3s ease-in-out;
  z-index: 1;
}

.hero-img::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -30px;
  left: -30px;
  border-radius: 5px;
  background: #e0e0ff;
  box-shadow: 0 6px 24px rgba(39, 40, 112, .2);
  transition: all .3s ease-in-out;
  z-index: -99;
  opacity: .4;
}

.hero-img::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -60px;
  left: -60px;
  border-radius: 5px;
  background: url(../assets/hero_bg.png) no-repeat center center;
  background-size: cover;
  background-color: #f0f0ff;
  box-shadow: 0 6px 24px rgba(39, 40, 112, .2);
  transition: all .3s ease-in-out;
  z-index: -9;
}

.hero-img:hover:after {
  box-shadow: 0 3px 4px rgba(39, 40, 112, .2);
  top: -40px;
  left: -40px;
}

.hero-img:hover:before {
  box-shadow: 0 3px 4px rgba(39, 40, 112, .2);
  top: -20px;
  left: -20px;
}

.event-recap {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 70px;
  padding: 20px 0;
  background: #25266f;
  z-index: 9;
}

.event-name-date h4 {
  color: #3cbbb1;
  font-weight: 500;
}

.event-name-date h4 span {
  color: #e2e2ff;
  margin-left: 50px;
}

.status {
  padding: 0 10px;
  border-left: 2px solid #e2e2ff;
}

.status p {
  color: #e2e2ff;
}

.top-event-reg a {
  text-decoration: none;
  color: #3cbbb1;
  padding: 10px 30px;
  border: 1px solid #3cbbb1;
  border-radius: 3px;
  transition: all .3s ease-in-out;
}

.top-event-reg a:hover {
  color: #d8fdfa;
  background: #3cbbb1;
  border-radius: 3px;
}

.coming-up {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 13vw;
  background: #3cbbb1;
}

.coming-up p {
  font-size: 16px;
  color: #f0fffe;
  text-transform: uppercase;
  font-weight: 500;
}

.particles {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

/* about section styles */

.about {
  padding: 130px 0;
  background: #ffffff;
}

.about-our-service {
  text-align: center;
}

.about-our-service p {
  margin-bottom: 80px;
  color: #25266f;
  font-size: 28px;
  line-height: 40px;
}

.about-our-service a {
  font-weight: 300;
  color: #f5fffe;
  font-size: 18px;
  padding: 0;
  background: #323395;
  display: inline-flex;
  padding: 10px 20px;
  border-radius: 3px;
  text-decoration: none;
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
  transition: all .3s ease-in-out
}

.righ_arrow {
  margin-left: 10px;
  display: block;
  width: 40px;
}

.about-our-service a:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background: #25266f;
}

.righ_arrow svg {
  width: 20px;
  fill: #f5fffe;
  transform: rotate(-90deg);
  margin-top: 10px;
}

/* services styles */

.services {
  padding: 150px 0 150px 0;
  background: #fcfcff;
}

.service-title {
  color: #25266f;
  margin-top: 100px;
}

.service_explain {
  margin-top: 30px;
  line-height: 30px;
  color: #838383;
  text-align: center;
  padding: 0 40px;
  font-weight: 400;
}

.service-content {
  border-radius: 5px;
  padding: 30px 20px;
  background: #fdfdff;
  box-shadow: 0 30px 30px rgba(137, 139, 255, 0.09);
}

.icon-container {
  width: 100px;
  height: 80px;
  margin-top: -70px;
  margin-bottom: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.09);
}

.app-dev .icon-container {
  background: #f0f1ff;
}

.icon-container svg {
  width: 50px;
}

.app-dev .icon-container svg {
  fill: #b8b8ff;
}

.serv h4 {
  width: 180px;
  line-height: 25px;
  margin-bottom: 30px;
  font-size: 22px;
  color: #171c1a;
}

.serv p {
  color: #838383;
  font-weight: 500;
  font-size: 15px;
}

.serv a {
  font-size: 14px;
  margin-top: 20px;
  color: #25266f;
  font-weight: 700;
  text-decoration: underline;
}

.app-dev {
  margin-bottom: 100px;
}

.serv {
  margin-bottom: 100px;
}

.pro-stra .icon-container {
  background: #edffec;
}

.pro-stra .icon-container svg {
  fill: #8acb88;
}

.crypto .icon-container {
  background: #ffedf2;
}

.crypto .icon-container svg {
  fill: #ee4266;
}

.co-working .icon-container {
  background: #e8fffd;
}

.co-working .icon-container svg {
  fill: #3cbbb1;
}

.second-service {
  margin-left: 60px;
  padding-top: 100px;
}

.after {
  position: relative;
}

.after:before {
  position: absolute;
  content: '';
  width: 50vw;
  height: 1px;
  background: rgb(221, 221, 221);
}

.talk_after_service {
  color: #0a0f0d;
  font-size: 22px;
  margin-top: 90px;
}

.link_after {
  text-decoration: none;
  color: #ebfffd;
  font-size: 18px;
  text-decoration: none;
  margin-top: 30px;
  padding: 10px 40px;
  background: #3cbbb1;
  border-radius: 3px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
}

/* events styles */

.events {
  padding: 150px 0;
  background: #25266f;
}

.event-tit {
  margin-bottom: 80px;
  color: #3cbbb1;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 150px;
}

.event-container {
  border-radius: 3px;
  padding: 30px 20px;
  background: #fff;
  overflow: hidden;
  height: 350px;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.09);
  transform: all .3s ease-in-out;
}

.event-container:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.02);
}

.event-title {
  color: #25266f;
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 20px;
}

.event-date {
  margin-bottom: 30px;
  color: #25266f;
}

.event-day {
  font-size: 72px;
  font-weight: 700;
  letter-spacing: -6px;
}

sub {
  font-size: 12px;
  letter-spacing: 1px;
}

.event-faciltator {
  margin-bottom: 10px;
  color: #25266f;
}

.event-description {
  font-size: 14px;
  color: #838383;
  height: 80px;
  overflow: hidden;
}

.view-details {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background: rgba(60, 187, 176, 0.95);
  transition: all .3s ease-in-out;
}

.view-details a {
  padding: 7px 30px;
  border: 2px solid #d0fffb;
  color: #d0fffb;
  border-radius: 3px;
  transition: all .3s ease-in-out;
}

.event-container:hover .view-details {
  opacity: 1;
}

.view-details a:hover {
  padding: 7px 30px;
  background: #d0fffb;
  color: #3cbbb0f2;
  border-radius: 3px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
}

.view_all_events {
  margin-top: 60px;
  text-align: top;
}

.view_all_events a {
  color: #e2e2ff;
  text-decoration: underline;
}

.right_arrow {
  font-size: 18px;
}

/* footer */

footer {
  padding: 120px 0;
}

footer h3 {
  margin-bottom: 20px;
  color: #25266f;
}

.mobile_numbers span {
  color: #838383;
}

.footer_address {
  line-height: 1rem;
  font-weight: 500;
  margin-bottom: 30px;
  color: #838383;
}

br {
  padding: 0;
  margin: 0;
  line-height: 25px;
}

.mail-icon,
.number-icon {
  display: inline-flex;
}

.location-icon svg,
.mail-icon svg,
.number-icon svg {
  width: 20px;
  fill: #131313;
}

.mail,
.number,
.location {
  margin-left: 10px;
}

.footer-navigation {
  padding: 0;
}

.footer nav {
  margin-left: 0;
}

.footer_nav_items {
  text-decoration: none;
  color: #838383;
  font-weight: normal;
}

.newsletter {
  padding: 0 50px;
}

.new-letter-title {
  margin-bottom: 10px;
}

.newsletter p {
  text-align: center;
  margin-bottom: 40px;
  color: #838383;
}

.newsletter input {
  padding: 10px;
  background: #EBEBEB;
  margin: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.newsletter button {
  margin: 0;
  background: #3cbbb1;
  color: #d0fffb;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: none;
}

.newsletter button:hover {
  background: #00ac9d;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
}

.social-links {
  margin-top: 50px;
  margin-left: 0;
}

.links {
  margin-right: 10px;
  height: 40px;
  width: 40px;
}

.copyrights {
  margin-top: 0px;
  color: #838383;
}

/* media queries */

@media (max-width: 1196px) {
  /* .container {
    max-width: 100%;
    width: 960px;
    margin: 0 auto;
  }
  .container-wide {
    max-width: 100%;
    width: 1024px;
    margin: 0 auto;
  } */
  .coming-up {
    position: absolute;
    left: 10px;
    top: 0;
    height: 100%;
    width: 15vw;
    background: #3cbbb1;
  }
}

@media (max-width: 1045px) {
  /* .container {
    max-width: 100%;
    width: 860px;
    margin: 0 auto;
  }
  .container-wide {
    max-width: 100%;
    width: 900px;
    margin: 0 auto;
  } */
  .hub-header {
    padding-top: 0;
  }
  header {
    padding: 20px 0;
  }
  .logo {
    text-decoration: none;
  }
  .logo img {
    width: 40px;
  }
  .brand-name {
    text-decoration: none;
    margin-left: 10px;
    color: white;
    font-size: 28px;
    font-weight: 500;
  }
  .nav-item {
    text-decoration: none;
    color: #b8b8ff;
    font-size: 14px;
    font-weight: 400;
    margin-left: 40px;
    border: 2px transparent;
    transition: all 0.3s ease-in-out;
  }
  .nav-item:hover {
    color: #3cbbb1;
  }
  /* .active {
    font-weight: 500;
    color: #3cbbb1;
    border-bottom: 2px solid #3cbbb1;
  } */
  /* hero section of the header styles */
  .hero .row {
    height: 90vh;
  }
  .welcome_paritie {
    color: #e2e2ff;
    font-weight: normal;
    margin-bottom: 30px;
  }
  .value_prop {
    color: #d6d7ff;
    line-height: 38px;
    margin-bottom: 40px;
    font-weight: 500;
    position: relative;
    z-index: 1;
  }
  .main_point {
    color: white;
    text-decoration: underline;
    text-decoration-color: #3cbbb1;
  }
  .start_project {
    color: rgb(228, 228, 255);
    font-size: 14px;
    margin-right: 30px;
  }
  .lets_talk {
    color: #ebfffd;
    font-size: 18px;
    text-decoration: none;
    padding: 7px 40px;
    background: #3cbbb1;
    border-radius: 3px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
  }
  .hero-img {
    width: 300px;
    height: 420px;
  }
  .event-recap {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 70px;
    padding: 20px 0;
    background: #25266f;
  }
  .event-name-date {
    width: 40%;
  }
  .reserve-sit {
    display: none;
  }
  .event-name-date h4 {
    color: #3cbbb1;
    font-weight: 500;
  }
  .event-name-date h4 strong {
    color: #e2e2ff;
    margin-left: 10px;
  }
  .status {
    padding: 0 10px;
    border-left: 2px solid #e2e2ff;
  }
  .status p {
    color: #e2e2ff;
  }
  .top-event-reg a {
    text-decoration: none;
    color: #3cbbb1;
    padding: 10px 30px;
    border: 1px solid #3cbbb1;
    border-radius: 3px;
  }
  .coming-up {
    position: absolute;
    left: 10px;
    top: 0;
    height: 100%;
    width: 15vw;
    background: #3cbbb1;
  }
  .coming-up p {
    font-size: 16px;
    color: #f0fffe;
    text-transform: uppercase;
    font-weight: 500;
  }
  /* about section styles */
  .about {
    padding: 130px 0;
    background: rgb(255, 255, 255);
  }
  .about-our-service {
    text-align: center;
  }
  .about-our-service p {
    margin-bottom: 30px;
    color: #25266f;
    font-size: 28px;
    line-height: 40px;
  }
  .about-our-service a {
    font-weight: 300;
    color: #f5fffe;
    font-size: 18px;
  }
  /* services styles */
  .services {
    padding: 150px 0 150px 0;
    background: #f2f2f2;
  }
  .service-title {
    color: #25266f;
    margin-top: 100px;
  }
  .service_explain {
    margin-top: 30px;
    line-height: 30px;
    color: #838383;
    text-align: center;
    padding: 0 40px;
    font-weight: 400;
  }
  .service-content {
    border-radius: 5px;
    padding: 30px 20px;
    background: #fdfdff;
    box-shadow: 0 30px 30px rgba(137, 139, 255, 0.09);
  }
  .icon-container {
    width: 100px;
    height: 80px;
    margin-top: -70px;
    margin-bottom: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.09);
  }
  .app-dev .icon-container {
    background: #f0f1ff;
  }
  .icon-container svg {
    width: 50px;
  }
  .app-dev .icon-container svg {
    fill: #b8b8ff;
  }
  .serv h4 {
    width: 180px;
    line-height: 25px;
    margin-bottom: 30px;
    font-size: 22px;
    color: #171c1a;
  }
  .serv p {
    color: #838383;
    font-weight: 500;
    font-size: 15px;
  }
  .serv a {
    font-size: 14px;
    margin-top: 20px;
    color: #25266f;
    font-weight: 700;
    text-decoration: underline;
  }
  .app-dev {
    margin-bottom: 100px;
  }
  .serv {
    margin-bottom: 100px;
  }
  .pro-stra .icon-container {
    background: #edffec;
  }
  .pro-stra .icon-container svg {
    fill: #8acb88;
  }
  .crypto .icon-container {
    background: #ffedf2;
  }
  .crypto .icon-container svg {
    fill: #ee4266;
  }
  .co-working .icon-container {
    background: #e8fffd;
  }
  .co-working .icon-container svg {
    fill: #3cbbb1;
  }
  .second-service {
    margin-left: 60px;
    padding-top: 100px;
  }
  .talk_after_service {
    color: #0a0f0d;
    font-size: 22px;
    margin-top: 30px;
  }
  .link_after {
    text-decoration: none;
    color: #ebfffd;
    font-size: 18px;
    text-decoration: none;
    margin-top: 30px;
    padding: 10px 40px;
    background: #3cbbb1;
    border-radius: 3px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
  }
  /* events styles */
  .events {
    padding: 150px 0;
    background: #25266f;
  }
  .event-tit {
    margin-bottom: 80px;
    color: #3cbbb1;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 150px;
  }
  .event-container {
    border-radius: 3px;
    padding: 30px 20px;
    background: #fff;
    overflow: hidden;
    height: 350px;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.09);
    transform: all .3s ease-in-out;
  }
  .event-container:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.02);
  }
  .event-title {
    color: #25266f;
    margin-bottom: 60px;
  }
  .event-date {
    margin-bottom: 30px;
    color: #25266f;
  }
  .event-day {
    font-size: 72px;
    font-weight: 700;
    letter-spacing: -6px;
  }
  sub {
    font-size: 12px;
    letter-spacing: 1px;
  }
  .event-faciltator {
    margin-bottom: 10px;
    color: #25266f;
  }
  .event-description {
    font-size: 14px;
    color: #838383;
    height: 80px;
    overflow: hidden;
  }
  .view-details {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background: rgba(60, 187, 176, 0.95);
    transition: all .3s ease-in-out;
  }
  .view-details a {
    padding: 7px 30px;
    border: 2px solid #d0fffb;
    color: #d0fffb;
    border-radius: 3px;
    transition: all .3s ease-in-out;
  }
  .event-container:hover .view-details {
    opacity: 1;
  }
  .view-details a:hover {
    padding: 7px 30px;
    background: #d0fffb;
    color: #3cbbb0f2;
    border-radius: 3px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
  }
  .view_all_events {
    margin-top: 60px;
    text-align: top;
  }
  .view_all_events a {
    color: #e2e2ff;
    text-decoration: underline;
  }
  .right_arrow {
    font-size: 18px;
  }
  /* footer */
  footer {
    padding: 120px 0;
  }
  footer h3 {
    margin-bottom: 20px;
    color: #25266f;
  }
  .footer_address {
    line-height: 1rem;
    font-weight: 700;
    margin-bottom: 30px;
  }
  br {
    padding: 0;
    margin: 0;
    line-height: 25px;
  }
  .footer-navigation {
    padding: 0;
  }
  .footer nav {
    margin-left: 0;
  }
  .footer_nav_items {
    text-decoration: none;
    color: #838383;
    font-weight: normal;
  }
  .newsletter {
    padding: 0 50px;
  }
  .new-letter-title {
    margin-bottom: 10px;
  }
  .newsletter p {
    text-align: center;
    margin-bottom: 40px;
    color: #838383;
  }
  .newsletter input {
    padding: 10px;
    background: #EBEBEB;
    margin: 0;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
  }
  .newsletter button {
    margin: 0;
    background: #3cbbb1;
    color: #d0fffb;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: none;
  }
  .social-links {
    margin-top: 50px;
    margin-left: 0;
  }
  .links {
    margin-right: 10px;
    height: 40px;
    width: 40px;
  }
  .copyrights {
    color: #838383;
  }
}

@media (max-width:945px) {
  .hub-header {
    padding-top: 0;
  }
  header {
    padding: 20px 0;
  }
  .logo {
    text-decoration: none;
  }
  .logo img {
    width: 40px;
  }
  .brand-name {
    text-decoration: none;
    margin-left: 10px;
    color: white;
    font-size: 28px;
    font-weight: 500;
  }
  .nav-item {
    text-decoration: none;
    color: #b8b8ff;
    font-size: 14px;
    font-weight: 400;
    margin-left: 30px;
    border: 2px transparent;
    transition: all 0.3s ease-in-out;
  }
  .nav-item:hover {
    color: #3cbbb1;
  }
  /* .active {
    font-weight: 500;
    color: #3cbbb1;
    border-bottom: 2px solid #3cbbb1;
  } */
  /* hero section of the header styles */
  .hero .row {
    height: 90vh;
  }
  .welcome_paritie {
    color: #e2e2ff;
    font-weight: normal;
    margin-bottom: 30px;
  }
  .value_prop {
    color: #d6d7ff;
    line-height: 38px;
    margin-bottom: 40px;
    font-weight: 500;
    position: relative;
    z-index: 1;
  }
  .main_point {
    color: white;
    text-decoration: underline;
    text-decoration-color: #3cbbb1;
  }
  .start_project {
    color: rgb(228, 228, 255);
    font-size: 14px;
    margin-right: 30px;
  }
  .lets_talk {
    color: #ebfffd;
    font-size: 18px;
    text-decoration: none;
    padding: 7px 30px;
    background: #3cbbb1;
    border-radius: 3px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
  }
  .hero-img {
    width: 250px;
    height: 350px;
    top: 30vh;
    right: 0;
    z-index: 1;
  }
  .hero-img::after {
    top: -30px;
    left: -30px;
  }
  .hero-img::before {
    top: -15px;
    left: -15px;
  }
  .event-recap {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 70px;
    padding: 20px 0;
    background: #25266f;
  }
  .md-s {
    justify-content: flex-end;
  }
  .event-name-date {
    width: 45%;
  }
  .reserve-sit {
    display: none;
  }
  .event-name-date h4 {
    color: #3cbbb1;
    font-weight: 500;
  }
  .event-name-date h4 strong {
    color: #e2e2ff;
    margin-left: 10px;
  }
  .status {
    padding: 0 10px;
    border-left: 2px solid #e2e2ff;
  }
  .status p {
    color: #e2e2ff;
  }
  .top-event-reg a {
    text-decoration: none;
    color: #3cbbb1;
    padding: 10px 30px;
    border: 1px solid #3cbbb1;
    border-radius: 3px;
  }
  .coming-up {
    position: absolute;
    left: 10px;
    top: 0;
    height: 100%;
    width: 20vw;
    background: #3cbbb1;
  }
  .coming-up p {
    font-size: 16px;
    color: #f0fffe;
    text-transform: uppercase;
    font-weight: 500;
  }
  /* about section styles */
  .about {
    padding: 130px 0;
    background: rgb(255, 255, 255);
  }
  .about-our-service {
    text-align: center;
  }
  .about-our-service p {
    margin-bottom: 30px;
    color: #25266f;
    font-size: 22px;
    line-height: 40px;
  }
  .about-our-service a {
    font-weight: 300;
    color: #f5fffe;
    font-size: 18px;
  }
  /* services styles */
  .services {
    padding: 0 0 150px 0;
    background: #f2f2f2;
  }
  .service-title {
    color: #25266f;
    margin-top: 100px;
  }
  .service_explain {
    margin-top: 30px;
    width: 100%;
    line-height: 30px;
    color: #838383;
    text-align: center;
    padding: 0 40px;
    font-weight: 400;
  }
  .md-service {
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 50px;
  }
  .md-service .col-6 {
    width: 80%;
    margin-bottom: 100px;
  }
  .md-service .col-3 {
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    margin: 0;
  }
  .service-content {
    border-radius: 5px;
    padding: 30px 20px;
    background: #fdfdff;
    box-shadow: 0 30px 30px rgba(137, 139, 255, 0.09);
  }
  .icon-container {
    width: 100px;
    height: 80px;
    margin-top: -70px;
    margin-bottom: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.09);
  }
  .serv {
    margin-bottom: 0px;
    width: 45%;
  }
  .serv h4 {
    width: 180px;
    line-height: 25px;
    margin-bottom: 30px;
    font-size: 22px;
    color: #171c1a;
  }
  .serv p {
    color: #838383;
    font-weight: 500;
    font-size: 15px;
  }
  .serv a {
    font-size: 14px;
    margin-top: 20px;
    color: #25266f;
    font-weight: 700;
    text-decoration: underline;
  }
  .app-dev {
    margin-bottom: 0px;
  }
  .md-talk .col-3 {
    width: 50%;
  }
  .second-service {
    margin-left: 60px;
    padding-top: 100px;
  }
  .after:before {
    display: none;
  }
  .talk_after_service {
    color: #0a0f0d;
    font-size: 18px;
    margin-top: 30px;
  }
  .link_after {
    text-decoration: none;
    color: #ebfffd;
    font-size: 18px;
    text-decoration: none;
    margin-top: 30px;
    padding: 10px 40px;
    background: #3cbbb1;
    border-radius: 3px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
  }
  /* events styles */
  .events {
    padding: 100px 0;
    background: #25266f;
  }
  .event-tit {
    margin-bottom: 80px;
    color: #3cbbb1;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  .event-container {
    border-radius: 3px;
    padding: 30px 20px;
    background: #fff;
    overflow: hidden;
    height: 350px;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.09);
    transform: all .3s ease-in-out;
  }
  .event-container:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.02);
  }
  .event-title {
    color: #25266f;
    margin-bottom: 60px;
  }
  .md-events {
    justify-content: center;
    flex-wrap: wrap;
  }
  .md-events .col-3 {
    width: 45%;
  }
  .md-events .col-3:nth-child(1),
  .md-events .col-3:nth-child(2) {
    margin-bottom: 20px;
  }
  .md-events .col-3:nth-child(3) {
    margin-left: -10px;
  }
  .event-date {
    margin-bottom: 30px;
    color: #25266f;
  }
  .event-day {
    font-size: 72px;
    font-weight: 700;
    letter-spacing: -6px;
  }
  sub {
    font-size: 12px;
    letter-spacing: 1px;
  }
  .event-faciltator {
    margin-bottom: 10px;
    color: #25266f;
  }
  .event-description {
    font-size: 14px;
    color: #838383;
    height: 80px;
    overflow: hidden;
  }
  .view-details a {
    padding: 7px 30px;
    border: 2px solid #d0fffb;
    color: #d0fffb;
    border-radius: 3px;
    transition: all .3s ease-in-out;
  }
  .view-details a:hover {
    padding: 7px 30px;
    background: #d0fffb;
    color: #3cbbb0f2;
    border-radius: 3px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
  }
  .view_all_events {
    margin-top: 60px;
    text-align: top;
  }
  .view_all_events a {
    color: #e2e2ff;
    text-decoration: underline;
  }
  .right_arrow {
    font-size: 18px;
  }
  /* footer */
  footer {
    padding: 120px 0;
  }
  footer h3 {
    margin-bottom: 20px;
    color: #25266f;
  }
  .md-footer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .contact {
    order: 2;
    width: 46%;
    padding-left: 100px;
  }
  .footer_address {
    line-height: 1rem;
    font-weight: 500;
    margin-bottom: 30px;
  }
  br {
    padding: 0;
    margin: 0;
    line-height: 25px;
  }
  .footer-navigation {
    padding: 0;
    order: 3;
    width: 46%;
    padding-left: 100px;
  }
  .footer nav {
    margin-left: 0;
  }
  .footer_nav_items {
    text-decoration: none;
    color: #838383;
    font-weight: normal;
  }
  .newsletter {
    order: 1;
    padding: 0 50px;
    width: 90%;
    margin-bottom: 70px;
  }
  .new-letter-title {
    margin-bottom: 10px;
  }
  .newsletter p {
    text-align: center;
    margin-bottom: 40px;
    color: #838383;
  }
  .newsletter input {
    padding: 10px;
    background: #EBEBEB;
    margin: 0;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
  }
  .newsletter button {
    margin: 0;
    background: #3cbbb1;
    color: #d0fffb;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: none;
  }
  .social-links {
    margin-top: 50px;
    margin-left: 0;
  }
  .linked-images {
    justify-content: center;
    margin-left: 0px;
  }
  .links {
    margin-right: 10px;
    height: 40px;
    width: 40px;
  }
  .md-copy {
    flex-direction: column;
  }
  .md-copy .col-4 {
    width: 100%;
  }
  .md-copy .col-5 {
    width: 100%;
    text-align: center;
    padding-left: 0;
    margin-left: 0;
    margin-top: 50px;
  }
  .copyrights {
    color: #838383;
    margin-left: 0px;
  }
}

@media (max-width:745px) {
  .hub-header {
    padding-top: 0;
  }
  header {
    padding: 20px 0;
  }
  .logo {
    text-decoration: none;
  }
  .logo img {
    width: 40px;
  }
  .brand-name {
    text-decoration: none;
    margin-left: 10px;
    color: white;
    font-size: 28px;
    font-weight: 500;
  }
  .navigation {
    display: none;
  }
  .nav-item {
    text-decoration: none;
    color: #b8b8ff;
    font-size: 14px;
    font-weight: 400;
    margin-left: 20px;
    border: 2px transparent;
    transition: all 0.3s ease-in-out;
  }
  /* small screen side bar styles */
  .sm-menu {
    display: flex;
    margin-right: 0;
  }
  .menu {
    display: flex;
  }
  .menu-1,
  .menu-2,
  .menu-3 {
    display: inline-block;
    height: 3px;
    width: 30px;
    background: #fff;
    margin-bottom: 5px;
    border-radius: 3px;
    transform-origin: 0;
  }
  .menu-2 {
    width: 25px;
  }
  .menu-3 {
    margin-bottom: 0px;
  }
  .sm-s-nav {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 9;
    background: rgba(0, 0, 0, .95);
    transition: all .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  .sm-s-nav .nav-item {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 300;
    color: #fff;
  }
  .side-nav {
    background: rgba(37, 37, 37, 0.5);
    height: 80vh;
    width: 80vw;
  }
  .close-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -15px;
    left: -15px;
    background: #3cbbb1;
    z-index: 99;
    padding: 3px;
  }
  .close-1,
  .close-2 {
    position: relative;
    display: inline-block;
    height: 3px;
    width: 30px;
    background: #ffffff;
    margin-bottom: 5px;
    border-radius: 3px;
    transform-origin: 0;
  }
  .close-1 {
    transform: rotate(45deg);
    top: -6px;
    left: 3px;
  }
  .close-2 {
    transform: rotate(-45deg);
    top: 8px;
    left: 3px;
  }
  .reveal-sm-nav {
    display: flex;
  }
  .nav-item:hover {
    color: #3cbbb1;
  }
  /* .active {
    font-weight: 500;
    color: #3cbbb1;
    border-bottom: 2px solid #3cbbb1;
  } */
  /* hero section of the header styles */
  .hero .row {
    height: 90vh;
  }
  .sm-val-prop {
    width: 100%;
  }
  .welcome_paritie {
    color: #e2e2ff;
    font-weight: normal;
    margin-bottom: 30px;
  }
  .value_prop {
    color: #d6d7ff;
    line-height: 38px;
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: 500;
    position: relative;
    z-index: 1;
  }
  .main_point {
    color: white;
    text-decoration: underline;
    text-decoration-color: #3cbbb1;
  }
  .start_project {
    display: flex;
    justify-content: left;
  }
  .start_project-text {
    color: rgb(228, 228, 255);
    font-size: 14px;
  }
  .lets_talk {
    color: #ebfffd;
    font-size: 18px;
    text-decoration: none;
    padding: 7px 40px;
    background: #3cbbb1;
    border-radius: 3px;
    margin-left: 30px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
  }
  .hero-img {
    display: none;
  }
  .event-recap {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 70px;
    padding: 20px 0;
    background: #25266f;
  }
  .md-s {
    justify-content: flex-end;
  }
  .event-name-date {
    width: 55%;
  }
  .reserve-sit {
    display: none;
  }
  .event-name-date h4 {
    color: #3cbbb1;
    font-weight: 500;
  }
  .event-name-date h4 strong {
    color: #e2e2ff;
    margin-left: 10px;
  }
  .status {
    padding: 0 10px;
    border-left: 2px solid #e2e2ff;
  }
  .status p {
    color: #e2e2ff;
  }
  .top-event-reg a {
    text-decoration: none;
    color: #3cbbb1;
    padding: 10px 20px;
    border: 1px solid #3cbbb1;
    border-radius: 3px;
  }
  .coming-up {
    position: absolute;
    left: 0px;
    top: 0;
    height: 100%;
    width: 25vw;
    background: #3cbbb1;
  }
  .coming-up p {
    font-size: 16px;
    color: #f0fffe;
    text-transform: uppercase;
    font-weight: 500;
  }
  /* about section styles */
  .about {
    padding: 130px 0;
    background: rgb(255, 255, 255);
  }
  .about-our-service {
    text-align: center;
  }
  .about-our-service p {
    margin-bottom: 30px;
    color: #25266f;
    font-size: 22px;
    line-height: 40px;
  }
  .about-our-service a {
    font-weight: 300;
    color: #f5fffe;
    font-size: 18px;
  }
  /* services styles */
  .services {
    padding: 0 0 150px 0;
    background: #f2f2f2;
  }
  .service-title {
    color: #25266f;
    margin-top: 100px;
  }
  .service_explain {
    margin-top: 30px;
    width: 100%;
    line-height: 30px;
    color: #838383;
    text-align: center;
    padding: 0 40px;
    font-weight: 400;
  }
  .md-service {
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 50px;
  }
  .md-service .col-6 {
    width: 100%;
    margin-bottom: 100px;
  }
  .md-service .col-3 {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 0;
  }
  .service-content {
    border-radius: 5px;
    padding: 30px 20px;
    background: #fdfdff;
    box-shadow: 0 30px 30px rgba(137, 139, 255, 0.09);
  }
  .icon-container {
    width: 100px;
    height: 80px;
    margin-top: -70px;
    margin-bottom: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.09);
  }
  .serv {
    margin-bottom: 0px;
    width: 45%;
  }
  .serv h4 {
    width: 180px;
    line-height: 25px;
    margin-bottom: 30px;
    font-size: 22px;
    color: #171c1a;
  }
  .serv p {
    color: #838383;
    font-weight: 500;
    font-size: 15px;
  }
  .serv a {
    font-size: 14px;
    margin-top: 20px;
    color: #25266f;
    font-weight: 700;
    text-decoration: underline;
  }
  .app-dev {
    margin-bottom: 0px;
  }
  .md-talk .col-3 {
    width: 50%;
  }
  .second-service {
    margin-left: 60px;
    padding-top: 100px;
  }
  .talk_after_service {
    color: #0a0f0d;
    font-size: 18px;
    margin-top: 30px;
  }
  .link_after {
    text-decoration: none;
    color: #ebfffd;
    font-size: 18px;
    text-decoration: none;
    margin-top: 30px;
    padding: 10px 40px;
    background: #3cbbb1;
    border-radius: 3px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
  }
  /* events styles */
  .events {
    padding: 100px 0;
    background: #25266f;
  }
  .event-tit {
    margin-bottom: 80px;
    color: #3cbbb1;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  .event-container {
    border-radius: 3px;
    padding: 30px 20px;
    background: #fff;
    overflow: hidden;
    height: 350px;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.09);
    transform: all .3s ease-in-out;
  }
  .event-container:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.02);
  }
  .event-title {
    color: #25266f;
    margin-bottom: 60px;
  }
  .md-events {
    justify-content: center;
    flex-wrap: wrap;
  }
  .md-events .col-3 {
    width: 45%;
  }
  .md-events .col-3:nth-child(1),
  .md-events .col-3:nth-child(2) {
    margin-bottom: 20px;
  }
  .md-events .col-3:nth-child(3) {
    margin-left: -10px;
  }
  .event-date {
    margin-bottom: 30px;
    color: #25266f;
  }
  .event-day {
    font-size: 72px;
    font-weight: 700;
    letter-spacing: -6px;
  }
  sub {
    font-size: 12px;
    letter-spacing: 1px;
  }
  .event-faciltator {
    margin-bottom: 10px;
    color: #25266f;
  }
  .event-description {
    font-size: 14px;
    color: #838383;
    height: 80px;
    overflow: hidden;
  }
  .view-details a {
    padding: 7px 30px;
    border: 2px solid #d0fffb;
    color: #d0fffb;
    border-radius: 3px;
    transition: all .3s ease-in-out;
  }
  .view-details a:hover {
    padding: 7px 30px;
    background: #d0fffb;
    color: #3cbbb0f2;
    border-radius: 3px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
  }
  .view_all_events {
    margin-top: 60px;
    text-align: top;
  }
  .view_all_events a {
    color: #e2e2ff;
    text-decoration: underline;
  }
  .right_arrow {
    font-size: 18px;
  }
  /* footer */
  footer {
    padding: 120px 0;
  }
  footer h3 {
    margin-bottom: 20px;
    color: #25266f;
  }
  .md-footer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .contact {
    order: 2;
    width: 46%;
    padding-left: 0px;
  }
  .footer_address {
    line-height: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
    color: #838383;
  }
  br {
    padding: 0;
    margin: 0;
    line-height: 25px;
  }
  .footer-navigation {
    padding: 0;
    order: 3;
    width: 46%;
    padding-left: 100px;
  }
  .footer nav {
    margin-left: 0;
  }
  .footer_nav_items {
    text-decoration: none;
    color: #838383;
    font-weight: normal;
  }
  .newsletter {
    order: 1;
    padding: 0 50px;
    width: 90%;
    margin-bottom: 70px;
  }
  .new-letter-title {
    margin-bottom: 10px;
  }
  .newsletter p {
    text-align: center;
    margin-bottom: 40px;
    color: #838383;
  }
  .newsletter input {
    padding: 10px;
    background: #EBEBEB;
    margin: 0;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
  }
  .newsletter button {
    margin: 0;
    background: #3cbbb1;
    color: #d0fffb;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: none;
  }
  .social-links {
    margin-top: 50px;
    margin-left: 0;
  }
  .links {
    margin-right: 10px;
    height: 40px;
    width: 40px;
  }
  .copyrights {
    margin-top: 0px;
    color: #838383;
  }
}

@media (max-width:570px) {
  .logo img {
    width: 30px;
  }
  .brand-name {
    font-size: 22px;
    font-weight: 400;
  }
  .navigation {
    display: none;
  }
  /* small screen side bar styles */
  .sm-menu {
    display: flex;
    margin-right: 0;
  }
  .menu {
    display: flex;
  }
  .menu-1,
  .menu-2,
  .menu-3 {
    display: inline-block;
    height: 3px;
    width: 30px;
    background: #fff;
    margin-bottom: 5px;
    border-radius: 3px;
    transform-origin: 0;
  }
  .menu-2 {
    width: 25px;
  }
  .menu-3 {
    margin-bottom: 0px;
  }
  .sm-s-nav {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 9;
    background: rgba(0, 0, 0, 1);
    transition: all .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  .sm-s-nav .nav-item {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 300;
    color: #fff;
  }
  .close-menu {
    width: 50px;
    height: 50px;
    top: -15px;
    left: -15px;
  }
  .close-1,
  .close-2 {
    height: 3px;
    width: 30px;
    background: #ffffff;
  }
  .reveal-sm-nav {
    display: flex;
  }
  .nav-item:hover {
    color: #3cbbb1;
  }
  /* .active {
    font-weight: 500;
    color: #3cbbb1;
    border-bottom: 2px solid #3cbbb1;
  } */
  /* hero section of the header styles */
  .value_prop {
    font-weight: 500;
  }
  .start_project-text {
    color: rgb(228, 228, 255);
    font-size: 14px;
  }
  .lets_talk {
    color: #ebfffd;
    font-size: 16px;
    text-decoration: none;
    padding: 7px 20px;
    background: #3cbbb1;
    border-radius: 3px;
    margin-left: 30px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
  }
  .event-recap {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 70px;
    padding: 20px 0;
    background: #25266f;
  }
  .md-s {
    justify-content: center;
  }
  .event-name-date {
    width: 70%;
  }
  .reserve-sit {
    display: none;
  }
  .event-name-date h4 {
    color: #3cbbb1;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
  }
  .event-name-date h4 span {
    color: #e2e2ff;
    margin-left: 0px;
    font-weight: 300;
  }
  .status {
    padding: 0 10px;
    border-left: 2px solid #e2e2ff;
  }
  .status p {
    color: #e2e2ff;
  }
  .top-event-reg a {
    text-decoration: none;
    color: #3cbbb1;
    padding: 10px 15px;
    border: 1px solid #3cbbb1;
    border-radius: 3px;
    font-size: 14px;
  }
  .coming-up {
    position: absolute;
    left: 0px;
    top: -32px;
    height: 45%;
    width: 43vw;
    background: #3cbbb1;
  }
  .coming-up p {
    font-size: 14px;
    color: #f0fffe;
    text-transform: uppercase;
    font-weight: 700;
  }
  /* about section styles */
  .about {
    padding: 130px 0;
    background: rgb(255, 255, 255);
  }
  .about-our-service {
    text-align: center;
    width: 100%;
  }
  .about-our-service p {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 40px;
  }
  .about-our-service a {
    font-weight: 300;
    color: #f5fffe;
    font-size: 18px;
  }
  /* services styles */
  .services {
    padding: 0 0 150px 0;
    background: #f2f2f2;
  }
  .service-title {
    color: #25266f;
    margin-top: 100px;
  }
  .service_explain {
    margin-top: 30px;
    width: 100%;
    line-height: 30px;
    color: #838383;
    text-align: center;
    padding: 0 0px;
    font-weight: 400;
  }
  .md-service {
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 50px;
  }
  .md-service .col-6 {
    width: 95%;
    margin-bottom: 100px;
  }
  .md-service .col-3 {
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    margin: 0;
  }
  .service-content {
    border-radius: 5px;
    padding: 30px 20px;
    background: #fdfdff;
    box-shadow: 0 30px 30px rgba(137, 139, 255, 0.09);
  }
  .icon-container {
    width: 100px;
    height: 80px;
    margin-top: -70px;
    margin-bottom: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.09);
  }
  .serv {
    width: 80%;
  }
  .serv h4 {
    width: 180px;
    line-height: 25px;
    margin-bottom: 30px;
    font-size: 22px;
    color: #171c1a;
  }
  .serv p {
    color: #838383;
    font-weight: 500;
    font-size: 15px;
  }
  .serv a {
    font-size: 14px;
    margin-top: 20px;
    color: #25266f;
    font-weight: 700;
    text-decoration: underline;
  }
  .app-dev,
  .pro-stra {
    margin-bottom: 100px;
  }
  .md-talk .col-3 {
    width: 70%;
  }
  .second-service {
    margin-left: 60px;
    padding-top: 100px;
  }
  .talk_after_service {
    color: #0a0f0d;
    font-size: 18px;
    margin-top: 30px;
  }
  .link_after {
    text-decoration: none;
    color: #ebfffd;
    font-size: 18px;
    text-decoration: none;
    margin-top: 30px;
    padding: 10px 40px;
    background: #3cbbb1;
    border-radius: 3px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
  }
  /* events styles */
  .events {
    padding: 100px 0;
    background: #25266f;
  }
  .event-tit {
    margin-bottom: 80px;
    color: #3cbbb1;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  .event-container {
    border-radius: 3px;
    padding: 30px 20px;
    background: #fff;
    overflow: hidden;
    height: 350px;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.09);
    transform: all .3s ease-in-out;
  }
  .event-container:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.02);
  }
  .event-title {
    color: #25266f;
    margin-bottom: 60px;
  }
  .md-events {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .md-events .col-3 {
    width: 90%;
  }
  .md-events .col-3:nth-child(1),
  .md-events .col-3:nth-child(2),
  .md-events .col-3:nth-child(3) {
    margin-bottom: 20px;
  }
  .md-events .col-3:nth-child(1),
  .md-events .col-3:nth-child(3),
  .md-events .col-3:nth-child(2) {
    margin-left: 10px;
  }
  .md-events .col-3:nth-child(4) {
    margin-left: 0px;
  }
  .event-date {
    margin-bottom: 30px;
    color: #25266f;
  }
  .event-day {
    font-size: 72px;
    font-weight: 700;
    letter-spacing: -6px;
  }
  sub {
    font-size: 12px;
    letter-spacing: 1px;
  }
  .event-faciltator {
    margin-bottom: 10px;
    color: #25266f;
  }
  .event-description {
    font-size: 14px;
    color: #838383;
    height: 80px;
    overflow: hidden;
  }
  .view-details a {
    padding: 7px 30px;
    border: 2px solid #d0fffb;
    color: #d0fffb;
    border-radius: 3px;
    transition: all .3s ease-in-out;
  }
  .view-details a:hover {
    padding: 7px 30px;
    background: #d0fffb;
    color: #3cbbb0f2;
    border-radius: 3px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
  }
  .view_all_events {
    margin-top: 60px;
    text-align: top;
  }
  .view_all_events a {
    color: #e2e2ff;
    text-decoration: underline;
  }
  .right_arrow {
    font-size: 18px;
  }
  /* footer */
  footer {
    padding: 100px 0;
  }
  footer h3 {
    margin-bottom: 18px;
    color: #25266f;
  }
  .md-footer {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  .contact {
    order: 2;
    width: 100%;
    padding-left: 70px;
    margin-bottom: 50px;
  }
  .footer_address {
    line-height: 1rem;
    font-weight: 700;
    margin-bottom: 30px;
  }
  br {
    padding: 0;
    margin: 0;
    line-height: 30px;
  }
  .footer-navigation {
    padding: 0;
    order: 3;
    width: 100%;
    padding-left: 70px;
  }
  .footer nav {
    margin-left: 0;
  }
  .footer_nav_items {
    text-decoration: none;
    color: #838383;
    font-weight: normal;
  }
  .newsletter {
    order: 1;
    padding: 0px;
    width: 100%;
    margin-bottom: 70px;
    margin-left: 0;
  }
  .new-letter-title {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .newsletter p {
    text-align: center;
    margin-bottom: 20px;
    color: #838383;
    line-height: 10px;
  }
  .newsletter-form {
    margin-left: 0;
  }
  .newsletter input {
    padding: 10px;
    background: #EBEBEB;
    margin: 0;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
  }
  .newsletter button {
    margin: 0;
    background: #3cbbb1;
    color: #d0fffb;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: none;
  }
  .social-links {
    margin-top: 50px;
    margin-left: 0px;
  }
  .links {
    margin-right: 10px;
    height: 40px;
    width: 40px;
  }
  .linked-images {
    margin-left: 0;
    margin-bottom: 0;
  }
  .copyrights {
    margin-top: 0px;
    color: #838383;
    margin-left: 0px;
  }
}

@media(max-width:420px) {
  .logo img {
    width: 30px;
  }
  .brand-name {
    font-size: 26px;
    font-weight: 500;
  }
  .navigation {
    display: none;
  }
  /* small screen side bar styles */
  .sm-menu {
    display: flex;
    margin-right: 0;
  }
  .sm-s-nav .nav-item {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
  }
  .reveal-sm-nav {
    display: flex;
  }
  .nav-item:hover {
    color: #3cbbb1;
  }
  /* .active {
    font-weight: 500;
    color: #3cbbb1;
    border-bottom: 2px solid #3cbbb1;
  } */
  /* hero section of the header styles */
  .hero .row {
    align-items: center;
  }
  .value_prop {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 50px;
  }
  .start_project {
    flex-direction: column;
    align-items: flex-start;
  }
  .start_project-text {
    color: rgb(228, 228, 255);
    font-size: 14px;
  }
  .lets_talk {
    color: #ebfffd;
    font-size: 16px;
    text-decoration: none;
    padding: 7px 45px;
    background: #3cbbb1;
    border-radius: 3px;
    margin-left: 0px;
    font-size: 14px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
  }
  .event-recap {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 70px;
    padding: 20px 0;
    background: #25266f;
  }
  .md-s {
    justify-content: center;
  }
  .event-name-date {
    width: 50%;
  }
  .reserve-sit {
    display: none;
  }
  .event-name-date h4 {
    color: #3cbbb1;
    font-weight: 300;
    font-size: 12px;
    line-height: 10px;
  }
  .event-name-date h4 span {
    display: block;
    color: #e2e2ff;
    margin-left: 0px;
    font-weight: 300;
    line-height: 18px;
  }
  .status {
    padding: 0 10px;
    border-left: 2px solid #e2e2ff;
  }
  .status p {
    color: #e2e2ff;
  }
  .top-event-reg {
    min-width: 50%;
  }
  .top-event-reg a {
    text-decoration: none;
    color: #3cbbb1;
    padding: 10px;
    border: 1px solid #3cbbb1;
    border-radius: 3px;
    font-size: 12px;
  }
  /* about section styles */
  .about {
    padding: 100px 0;
    background: rgb(255, 255, 255);
  }
  .about-our-service {
    text-align: center;
    width: 100%;
  }
  .about-our-service p {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 40px;
  }
  .about-our-service a {
    font-weight: 300;
    color: #f5fffe;
    font-size: 18px;
  }
  /* services styles */
  .services {
    padding: 0 0 150px 0;
    background: #f2f2f2;
  }
  .service-title {
    color: #25266f;
    margin-top: 100px;
  }
  .service_explain {
    margin-top: 30px;
    width: 100%;
    line-height: 30px;
    color: #838383;
    text-align: center;
    padding: 0 0px;
    font-weight: 400;
  }
  .md-service {
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 50px;
  }
  .md-service .col-6 {
    width: 95%;
    margin-bottom: 100px;
  }
  .md-service .col-3 {
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    margin: 0;
  }
  .service-content {
    border-radius: 5px;
    padding: 30px 20px;
    background: #fdfdff;
    box-shadow: 0 30px 30px rgba(137, 139, 255, 0.09);
  }
  .serv {
    width: 80%;
  }
  .serv p {
    font-size: 14px;
  }
  .app-dev,
  .pro-stra {
    margin-bottom: 100px;
  }
  .md-talk .col-3 {
    width: 70%;
  }
  .second-service {
    margin-left: 60px;
    padding-top: 100px;
  }
  .talk_after_service {
    color: #0a0f0d;
    font-size: 18px;
    margin-top: 30px;
  }
  .link_after {
    text-decoration: none;
    color: #ebfffd;
    font-size: 18px;
    text-decoration: none;
    margin-top: 30px;
    padding: 10px 40px;
    background: #3cbbb1;
    border-radius: 3px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
  }
  /* events styles */
  .events {
    padding: 100px 0;
    background: #25266f;
  }
  /* footer */
  footer {
    padding: 100px 0;
  }
  footer h3 {
    margin-bottom: 18px;
    color: #25266f;
  }
  .md-footer {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  .contact {
    order: 2;
    width: 100%;
    padding-left: 30px;
    margin-bottom: 50px;
  }
  .contact h3,
  .footer-navigation h3 {
    font-size: 18px;
  }
  .footer_address {
    line-height: 1rem;
    font-weight: 500;
    margin-bottom: 30px;
    margin-left: 0;
  }
  br {
    padding: 0;
    margin: 0;
    line-height: 30px;
  }
  .footer-navigation {
    padding: 0;
    order: 3;
    width: 100%;
    padding-left: 50px;
  }
  .footer nav {
    margin-left: 0;
  }
  .footer_nav_items {
    text-decoration: none;
    color: #838383;
    font-weight: normal;
  }
  .newsletter {
    order: 1;
    padding: 0px;
    width: 100%;
    margin-bottom: 70px;
    margin-left: 0;
  }
  .new-letter-title {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .newsletter p {
    text-align: center;
    margin-bottom: 20px;
    color: #838383;
    line-height: 10px;
  }
  .newsletter-form {
    margin-left: 0;
    flex-direction: column;
    align-items: center;
  }
  .newsletter input {
    width: 100%;
    padding: 10px;
    background: #EBEBEB;
    margin: 0;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  .newsletter button {
    width: 60%;
    margin: 0;
    background: #3cbbb1;
    color: #d0fffb;
    padding: 10px 0;
    border-radius: 3px;
    box-shadow: none;
    font-size: 14px;
  }
  .social-links {
    margin-top: 50px;
    margin-left: 0px;
  }
  .links {
    margin-right: 10px;
    height: 40px;
    width: 40px;
  }
  .copyrights {
    margin-top: 0px;
    color: #838383;
    font-size: 12px;
  }
}

@media (min-width:266px) and (max-width:319px) {
  .container,
  .container-wide {
    max-width: 100%;
    width: 246px;
    margin: 0 auto;
  }
}