/* body {
  overflow: hidden;
} */

.hub-header {
  background: url(../assets/phub_header.jpg) no-repeat center center;
  background-size: cover;
  background-color: linear-gradient(283deg, #323395 0%, #272870 100%);
}

.hub-value-prop {
  height: 100vh;
}

.hub-prop h1 {
  color: #ffff;
  font-size: 72px;
  margin-bottom: 80px;
}

.hub-prop p {
  font-size: 20px;
  color: #d7d7ff;
}

.hub-prop h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: #f7f7f7;
  margin-bottom: 50px;
}

.hub-cta a {
  padding: 10px 25px;
  border-radius: 3px;
}

.hub-cta a:nth-child(1) {
  color: #e6fffd;
  background: #3cbbb1;
  margin-right: 20px;
}

.hub-cta a:nth-child(1):hover {
  background: #00ac9d;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
}

.hub-cta a:nth-child(2) {
  color: #323395;
  background: #e9e9ff;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.16);
  transition: all .3s ease-in-out;
}

.hub-cta a:nth-child(2):hover {
  color: #323395;
  background: #d7d7ff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
}

/* about paritie hub styles */

.about-paritiehub {
  padding: 100px 0 60px 0;
}

.img-c {
  height: 600px;
}

.hub-img {
  position: absolute;
  width: 250px;
  height: 350px;
  left: 0;
  top: 100px;
  background: rgb(235, 235, 235);
  border-radius: 3px;
  z-index: -9;
  /* box-shadow: 0px 3px 60px rgba(0,0,0, .12); */
}

.img-2 {
  top: 120px;
  left: 20px;
  background: rgb(201, 201, 201);
  z-index: 1;
}

.img-3 {
  top: 140px;
  left: 40px;
  background: rgb(155, 155, 155);
  z-index: 9;
}

.about-hub-text {
  color: #616161;
  margin-bottom: 40px;
  line-height: 35px;
}

.about-paritie-cta {
  padding: 10px 30px;
  color: #e6fffd;
  background: #3cbbb1;
  border-radius: 3px;
}

.green-cta {
  background: #3cbbb1;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
  transition: all .3s ease-in-out;
}

.green-cta:hover {
  background: #00ac9d;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
}

/* why paritie styles */

.why-paritie {
  padding: 0;
}

.why-paritie-title {
  margin: 0 auto;
  margin-bottom: 100px;
  width: 300px;
  text-align: center;
  color: #323395;
}

.productivity,
.collaboration,
.community {
  margin-bottom: 100px;
}

.productivity .col-3,
.collaboration .col-3,
.community .col-3 {
  background: rgb(199, 199, 199);
  height: 200px;
}

.why-title {
  margin-bottom: 20px;
  color: #0A0F0D;
}

.productivity-p,
.collaboration-p,
.community-p {
  color: #616161;
  line-height: 35px;
}

.productivity .col-3 {
  background: url(../assets/productivity.jpg) no-repeat center center;
  background-size: cover;
}

.collaboration .col-3 {
  background: url(../assets/colabo.jpg) no-repeat center center;
  background-size: cover;
}

.community .col-3 {
  background: url(../assets/community.jpg) no-repeat center center;
  background-size: cover;
}

/* facilities styles */

.facilities {
  padding: 0 0 100px;
}

.facilities-title,
.price-plans-title {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 300px;
  text-align: center;
  color: #323395;
}

.facilities-p,
.price-plans-p {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  color: #616161;
}

.facilities-container {
  background: #fff;
  /* border: 1px solid #b5b6ff; */
  border-radius: 3px;
  margin-top: 80px;
  box-shadow: 12px 12px 36px rgba(0, 0, 0, .12);
}

.facilities-row .col-3:first-child,
.facilities-row .col-3:nth-child(2),
.facilities-row .col-3:nth-child(3) {
  border-right: 1px solid #b5b6ff;
}

.facilities-row:first-child {
  border-bottom: 1px solid #b5b6ff;
}

.facilities-row svg {
  width: 80px;
  fill: #b5b6ff;
}

.facilities .col-3 {
  margin: 0;
  height: 200px;
}

.facilities-row .col-3 p {
  color: #5a5a5a;
}

.facility-side-bg {
  opacity: .2;
  position: absolute;
  right: -25%;
  top: 0;
  z-index: -9;
  /* overflow: hidden; */
}

/* price plans styles */

.price-plans {
  padding: 100px 0;
}

.price-container {
  border: 1px solid #3cbbb1;
  border-radius: 3px;
}

.platinum {
  margin-left: 50px;
}

.platinum .price-container {
  border: 1px solid #8acb88;
}

.price-plans-title {
  color: #3cbbb1;
}

.price-plans .row {
  padding: 80px 0;
}

.plan-name {
  width: 100%;
  background: #3cbbb1;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 30px;
}

.platinum .plan-name {
  background: #8acb88;
}

.plan-name h3 {
  font-weight: 400;
  color: #ebfffd;
}

.platinum .plan-name h3 {
  color: #ebfffd;
}

.naira span {
  color: #3cbbb1;
}

.platinum .naira span {
  color: #8acb88;
}

.sup {
  position: relative;
  top: -18px;
  right: -8px;
  font-weight: 700;
  font-size: 28px;
}

.amount {
  font-size: 52px;
  letter-spacing: -3px;
  font-weight: 500;
}

.offer {
  width: 100%;
}

.offer-container {
  padding: 40px 20px;
}

.offer-item {
  font-size: 13px;
  padding: 10px;
  border-bottom: 1px solid #d1d1d1;
  color: #434343;
}

/* .offer-item:last-child {
  border-bottom: none;
} */

.offer-item svg {
  fill: #434343;
  width: 14px;
  color: #434343;
}

.disable-option span {
  color: #b2b2b2;
}

.disable-option svg {
  fill: #b2b2b2;
}

.bottom-closure {
  width: 100%;
  height: 10px;
  background: #3cbbb1;
}

.platinum .bottom-closure {
  background: #8acb88;
}

/* media queries */

@media (max-width: 1196px) {
  .hub-prop-container {
    width: 100%;
  }
}

@media (max-width: 1045px) {
  .hub-value-prop {
    height: 90vh;
  }
  .hub-prop-container {
    width: 100%;
  }
  .hub-prop h1 {
    color: #ffff;
    font-size: 72px;
    margin-bottom: 80px;
  }
  .hub-prop p {
    font-size: 20px;
    color: #d7d7ff;
  }
  /* about paritie hub styles */
  .about-paritiehub {
    padding: 40px 0 60px 0;
  }
  .img-c {
    height: 600px;
  }
  .hub-img {
    position: absolute;
    width: 250px;
    height: 300px;
    left: 0;
    top: 100;
    background: rgb(155, 155, 155);
    border-radius: 3px;
    z-index: -9;
    /* box-shadow: 0px 3px 60px rgba(0,0,0, .12); */
  }
  .img-2 {
    top: 120px;
    left: 20px;
    background: rgb(201, 201, 201);
    z-index: 1;
  }
  .img-3 {
    top: 140px;
    left: 40px;
    background: rgb(235, 235, 235);
    z-index: 9;
  }
  .hub-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .facilities-row .col-3 p {
    color: #5a5a5a;
  }
  .facility-side-bg {
    position: absolute;
    right: -45%;
    top: 0;
    z-index: -9;
  }
}

@media (max-width:945px) {
  .about-paritiehub {
    padding: 40px 0 0px 0;
  }
  .img-c {
    height: 600px;
  }
  .hub-img {
    position: absolute;
    width: 220px;
    height: 250px;
    left: 0;
    top: 100px;
    background: rgb(155, 155, 155);
    border-radius: 3px;
    z-index: 9;
    /* box-shadow: 0px 3px 60px rgba(0,0,0, .12); */
  }
  .img-2 {
    top: 130px;
    left: 30px;
    background: rgb(201, 201, 201);
    z-index: 1;
  }
  .img-3 {
    top: 160px;
    left: 60px;
    background: rgb(235, 235, 235);
    z-index: -1;
  }
  .facilities-row svg {
    width: 60px;
    fill: #b5b6ff;
  }
  .facility-side-bg {
    position: absolute;
    right: -65%;
    top: 0;
    z-index: -9;
  }
}

@media (max-width:745px) {
  .hub-prop p {
    font-size: 18px;
    color: #d7d7ff;
  }
  .md-screen-about {
    flex-direction: column-reverse;
    align-items: center;
  }
  .md-screen-about .col-5 {
    width: 90%;
  }
  .hub-about {
    width: 100%;
  }
  .img-c {
    height: 600px;
  }
  .hub-img {
    position: absolute;
    width: 250px;
    height: 350px;
    left: 100px;
    top: 100px;
    z-index: -9;
    /* box-shadow: 0px 3px 60px rgba(0,0,0, .12); */
  }
  .img-2 {
    top: 120px;
    left: 120px;
    background: rgb(201, 201, 201);
    z-index: 1;
  }
  .img-3 {
    top: 140px;
    left: 140px;
    background: rgb(235, 235, 235);
    z-index: 9;
  }
  /* why paritie styles */
  .why-paritie {
    padding: 80px 0;
  }
  .productivity,
  .collaboration,
  .community {
    flex-direction: column;
    margin-bottom: 100px;
  }
  .productivity .col-3,
  .collaboration .col-3,
  .community .col-3 {
    height: 200px;
    width: 70%;
    margin-bottom: 20px;
  }
  .productivity .col-7,
  .collaboration .col-7,
  .community .col-7 {
    margin-left: 0px;
    width: 72%;
  }
  .why-title {
    margin-bottom: 20px;
    color: #0A0F0D;
  }
  /* facilities styles */
  .facilities {
    padding: 0 0 100px;
  }
  .facilities-title,
  .price-plans-title {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 300px;
    text-align: center;
    color: #323395;
  }
  .facilities-p,
  .price-plans-p {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    color: #616161;
  }
  .facilities-container {
    background: #fff;
    border-radius: 3px;
    margin-top: 80px;
    box-shadow: 12px 12px 36px rgba(0, 0, 0, .12);
  }
  .facilities-row {
    flex-wrap: wrap;
    width: 100%;
  }
  .facilities-row .col-3 {
    width: 50%;
  }
  .facilities-row .col-3:first-child {
    border-right: 1px solid #b5b6ff;
  }
  .facilities-row .col-3:nth-child(2) {
    border-right: none;
  }
  .internet,
  .power-supply {
    border-bottom: 1px solid #b5b6ff;
  }
  .facilities-row svg {
    width: 60px;
    fill: #b5b6ff;
  }
  .facilities .col-3 {
    margin: 0;
    height: 200px;
  }
  .facilities-row .col-3 p {
    color: #5a5a5a;
  }
  .facility-side-bg {
    display: none;
  }
  /* price plan styles */
  .md-sc-price {
    flex-direction: column;
    align-items: center;
  }
  .md-sc-price .col-5 {
    width: 60%;
  }
  .md-sc-price .col-5:last-child {
    margin-left: -10px;
    margin-top: 30px;
  }
}

@media (max-width:570px) {
  .hub-header {
    background: url(../assets/sm_hub_bg.jpg) no-repeat center center;
    background-size: cover;
  }
  .hub-prop h1 {
    font-size: 48px;
  }
  .hub-prop h3 {
    font-size: 16px;
    font-weight: normal;
  }
  .hub-prop p {
    font-size: 16px;
    color: #d7d7ff;
  }
  .hub-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hub-cta a:last-child {
    margin-left: -20px;
    margin-top: 20px;
  }
  /*  */
  .md-screen-about {
    flex-direction: column-reverse;
    align-items: center;
  }
  .hub-about {
    width: 80%;
  }
  .img-c {
    height: 600px;
  }
  .hub-img {
    position: absolute;
    width: 250px;
    height: 350px;
    left: 50px;
    top: 100px;
    /* box-shadow: 0px 3px 60px rgba(0,0,0, .12); */
  }
  .img-2 {
    top: 160px;
    left: 110px;
    background: rgb(201, 201, 201);
    z-index: 1;
  }
  .img-3 {
    top: 130px;
    left: 80px;
    background: rgb(235, 235, 235);
    z-index: -1;
  }
  /* why paritie styles */
  .why-paritie {
    padding: 80px 0;
  }
  .productivity,
  .collaboration,
  .community {
    flex-direction: column;
    margin-bottom: 100px;
  }
  .productivity .col-3,
  .collaboration .col-3,
  .community .col-3 {
    height: 200px;
    width: 90%;
    margin-bottom: 20px;
  }
  .productivity .col-7,
  .collaboration .col-7,
  .community .col-7 {
    margin-left: 0px;
    width: 90%;
  }
  .why-title {
    margin-bottom: 20px;
    color: #0A0F0D;
  }
  /* facilities styles */
  .facilities {
    padding: 0 0 100px;
  }
  .facilities-title,
  .price-plans-title {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 300px;
    text-align: center;
    color: #323395;
  }
  .facilities-p,
  .price-plans-p {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: #616161;
  }
  .facilities-container {
    background: #fff;
    border-radius: 3px;
    margin-top: 80px;
    box-shadow: 12px 12px 36px rgba(0, 0, 0, .12);
  }
  .facilities-row {
    flex-wrap: wrap;
    width: 100%;
  }
  .facilities-row .col-3 {
    width: 50%;
  }
  .facilities-row .col-3:first-child {
    border-right: 1px solid #b5b6ff;
  }
  .facilities-row .col-3:nth-child(2) {
    border-right: none;
  }
  .internet,
  .power-supply {
    border-bottom: 1px solid #b5b6ff;
  }
  .facilities-row:nth-child(2) .col-3:nth-child(4) {
    border: 0;
  }
  .facilities-row svg {
    width: 60px;
    fill: #b5b6ff;
  }
  .facilities .col-3 {
    margin: 0;
    height: 200px;
  }
  .facilities-row .col-3 p {
    color: #5a5a5a;
  }
  .facility-side-bg {
    display: none;
  }
  /* price plan styles */
  .md-sc-price {
    flex-direction: column;
    align-items: center;
  }
  .md-sc-price .col-5 {
    width: 85%;
  }
  .md-sc-price .col-5:last-child {
    margin-left: -10px;
    margin-top: 30px;
  }
}

@media(max-width:420px) {
  .hub-prop h1 {
    font-size: 48px;
  }
  .hub-prop h3 {
    font-size: 14px;
    font-weight: normal;
  }
  .hub-prop p {
    font-size: 14px;
    color: #d7d7ff;
  }
  .hub-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }
  .hub-cta a:last-child {
    margin-left: -20px;
    margin-top: 20px;
  }
  /*  */
  .md-screen-about {
    flex-direction: column-reverse;
    align-items: center;
  }
  .hub-about {
    width: 100%;
  }
  .img-c {
    height: 600px;
  }
  .hub-img {
    position: absolute;
    width: 220px;
    height: 300px;
    left: 60px;
    top: 100px;
    /* box-shadow: 0px 3px 60px rgba(0,0,0, .12); */
  }
  .img-2 {
    top: 120px;
    left: 40px;
    background: rgb(201, 201, 201);
    z-index: -1;
  }
  .img-3 {
    top: 140px;
    left: 20px;
    background: rgb(235, 235, 235);
    z-index: 1;
  }
  /* why paritie styles */
  .why-paritie {
    padding: 80px 0;
  }
  .productivity,
  .collaboration,
  .community {
    flex-direction: column;
    margin-bottom: 100px;
  }
  .productivity .col-3,
  .collaboration .col-3,
  .community .col-3 {
    height: 200px;
    width: 95%;
    margin-bottom: 20px;
  }
  .productivity .col-7,
  .collaboration .col-7,
  .community .col-7 {
    margin-left: 0px;
    width: 95%;
  }
  .why-title {
    margin-bottom: 20px;
    color: #0A0F0D;
  }
  /* facilities styles */
  .facilities {
    padding: 0 0 100px;
  }
  .facilities-title,
  .price-plans-title {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 300px;
    text-align: center;
    color: #323395;
  }
  .facilities-p,
  .price-plans-p {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #616161;
  }
  .facilities-container {
    background: #fff;
    border-radius: 3px;
    margin-top: 80px;
    box-shadow: 0px 12px 36px rgba(0, 0, 0, .12);
  }
  .facilities-row {
    flex-wrap: wrap;
    width: 100%;
    border: none;
  }
  .facilities-row:first-child {
    border-bottom: none;
  }
  .facilities-row .col-3 {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0;
    padding-left: 30px;
  }
  .facilities-row .col-3:first-child {
    border: none;
  }
  .facilities-row .col-3:nth-child(2),
  .facilities-row .col-3:nth-child(3) {
    border-right: none;
  }
  .facilities-row svg {
    width: 40px;
    fill: #b5b6ff;
    margin-right: 20px;
  }
  .facilities-row .col-3:first-child {
    border-bottom: 1px solid #b5b6ff;
  }
  .facilities-row .col-3 {
    margin: 0;
    height: 100px;
    border-bottom: 1px solid #b5b6ff;
  }
  .facilities .col-3:last-child {
    margin: 0;
    height: 100px;
    border-bottom: 1px solid #b5b6ff;
  }
  .library:last-child {
    border-bottom: none;
  }
  .facilities-row .col-3 p {
    color: #5a5a5a;
  }
  .facility-side-bg {
    display: none;
  }
  /* price plan styles */
  .md-sc-price {
    flex-direction: column;
    align-items: center;
  }
  .md-sc-price .col-5 {
    width: 100%;
  }
  .md-sc-price .col-5:last-child {
    margin-left: -10px;
    margin-top: 30px;
  }
}

@media (min-width:266px) and (max-width:319px) {
  .container,
  .container-wide {
    max-width: 100%;
    width: 246px;
    margin: 0 auto;
  }
}