body {
  background: #f5f5f5;
}

.terms {
  padding-bottom: 0;
}

.terms .row {
  padding: 80px 100px;
  background: #fff;
  position: relative;
  top: -100px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .1)
}

.terms-title h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 50px;
}

.terms-title h1 {
  font-weight: 600;
  margin-bottom: 50px;
}

.terms-content h3 {
  font-size: 22px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.terms-content p {
  line-height: 35px;
  color: #4d4d4d;
}

li {
  font-size: 14px;
  line-height: 35px;
  margin-bottom: 20px;
  list-style-type: lower-alpha;
  list-style-position: inside;
  color: #4d4d4d;
}

.use {
  list-style-type: lower-roman;
  padding-left: 30px;
  margin-top: 30px;
}

.use li {
  list-style-type: lower-roman;
}

.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-60 {
  margin-bottom: 60px;
}

footer {
  background: #fff;
}

/* media queries */

@media (max-width: 1196px) {
  .container {
    max-width: 100%;
    width: 960px;
    margin: 0 auto;
  }
  .container-wide {
    max-width: 100%;
    width: 1024px;
    margin: 0 auto;
  }
}

@media (max-width: 1045px) {
  .container {
    max-width: 100%;
    width: 860px;
    margin: 0 auto;
  }
  .container-wide {
    max-width: 100%;
    width: 900px;
    margin: 0 auto;
  }
}

@media (max-width:945px) {
  .container {
    max-width: 100%;
    width: 720px;
    margin: 0 auto;
  }
  .container-wide {
    max-width: 100%;
    width: 700px;
    margin: 0 auto;
  }
}

@media (max-width:745px) {
  .container-wide {
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
  }
  .terms .row {
    padding: 80px 40px;
    background: #fff;
    position: relative;
    top: -200px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .1)
  }
}

@media(max-width:420px) {
  .terms .container-wide {
    max-width: 95%;
  }
  p,
  li {
    font-size: 13px
  }
}