
/* --  typography  --*/

body { font-family: 'Montserrat', sans-serif;}

h1 {font-size: 32px;}
h2 {font-size: 38px;}
h3 {font-size: 28px;}
h4 {font-size: 18px;}
h4 {font-size: 16px;}
p {
    font-size: 15px;  
    font-family: 'Lato', sans-serif; 
    line-height: 1.8rem;
}
label {
    font-size: 13px;
}
h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}